html, body, .App {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* 全体スクロール無効化 */
}

.chat-page {
  display: flex;
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
  min-height: 0;
}

.user-list {
  height: 100%;
  width: 100vw;
  border-right: 1px solid #ccc;
  padding: 10px;
  overflow-y: auto;
  background-color:   #a936c9;
  border-radius: 30px;
}

.chat-area {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow: hidden; /* ここ重要！ */
  min-height: 0;
} 

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  flex-shrink: 0; /* 高さを固定（上部に残す） */
  padding: 16px;
  color: #fff;
  background-color: #ff7700;
  border-bottom: 1px solid #ccc;
  border-radius: 20px;
  font-weight: 700;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%; /* 必須！ */
  min-height: 0;
}

.chat-header {
  flex-shrink: 0;
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  border: 1px solid #ccc;
  word-break: break-word;
  white-space: pre-wrap;
}

.chat-input {
  display: flex;
  flex-shrink: 0; /* ← これが重要 */
  padding-top: 8px;
  background-color: #fff;
  align-items: flex-start;
}

.main-content {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.user-list-title {
  color: #000000; /* ユーザー一覧の文字色 */
}

.user-name{
  color: #fff;
  background-color: #ff7700;
  padding: 8px 12px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 4px;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 10px;
  width: 90;
}

.my-message {
  text-align: right;
}

.other-message {
  text-align: left;
}

.message-content {
  display: inline-block;
  padding: 10px 14px;
  border-radius: 16px;
  max-width: 60%;
  word-wrap: break-word;
  white-space: pre-wrap;
  font-size: 14px;
  position: relative;
}

/* 吹き出しの色分け */
.my-message .message-content {
  color: #fff;
  background-color: #ff7700; 
  align-self: flex-end;
  font-size: 14px;
}

.other-message .message-content {
  color: #fff;
  background-color: #ff7700;
  border: 1px solid #ccc;
  align-self: flex-start;
}

.badge {
  background-color: #008400;
  color: white;
  font-size: 0.75rem;
  padding: 2px 6px;
  border-radius: 12px;
  margin-left: 8px;
  min-width: 20px;
  text-align: center;
}
